@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


.with-background {
  background-color: #093121;
  padding: 100px;
  color: #fff;
  margin-bottom: 300px;
  /* Add any other background styles you want */
}


  .joinUs {
    width: 231.25px;
    height: 55px;
    background-color: #fdbb00;
    color: #fff;
    border: none;
    border-radius: -5px;
    justify-content: center;
    align-items: center;
    /* margin-top: 650px; */
    margin-left: 15px;
    cursor: pointer;
    background-color: transition 0.3s;
  }
  
  .joinUs:hover {
    background-color: transparent; /* Use "inset" for the background */
    box-shadow: 0 0 0 1px #fdbb00;
  }

  .join-us-text {
    font-size: 1.0rem;
  }
  @media (max-width: 768px) {
    .joinUs {
      width: 151.25px;
      height: 35px;
      background-color: #fdbb00;
      color: #fff;
      border: none;
      border-radius: -5px;
      justify-content: center;
      align-items: center;
      /* margin-top: 650px; */
      margin-left: 15px;
      cursor: pointer;
      background-color: transition 0.3s;
    }
    #volunteer {
      font-size: 18px;
    }
    .with-background {
      background-color: #093121;
      padding: 40px;
      color: #fff;
      margin-bottom: 180px;
      /* Add any other background styles you want */
    }
    .join-us-text {
      font-size: 14px;
    }
    p{
      font-size: 14px;
    }
}
  


  @media screen and (width: 820px) {

    .with-background {
      background-color: #093121;
      padding: 100px;
      color: #fff;
      margin-bottom: 100px;
      /* Add any other background styles you want */
    }
    

  .joinUs {
    width: 231.25px;
    height: 55px;
    background-color: #fdbb00;
    color: #fff;
    border: none;
    border-radius: -5px;
    justify-content: center;
    align-items: center;
    /* margin-top: 650px; */
    margin-left: 15px;
    cursor: pointer;
    background-color: transition 0.3s;
    margin-top: -200px;
  }
}
@media (width: 1280px) {

  .with-background {
    background-color: #093121;
    padding: 100px;
    color: #fff;
    margin-bottom: 200px;
    /* Add any other background styles you want */
  }
  

.joinUs {
  width: 231.25px;
  height: 55px;
  background-color: #fdbb00;
  color: #fff;
  border: none;
  border-radius: -5px;
  justify-content: center;
  align-items: center;
  /* margin-top: 650px; */
  margin-left: 15px;
  cursor: pointer;
  background-color: transition 0.3s;
  margin-top: 10px;
}


}