@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


.events-title {
    color:#FF9800 ;
    margin-top: -20px;
}
.events{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}


/* Media query for smaller screens (landscape phones) */
@media (max-width: 768px) {
    .events-title{
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: -10px;
    }


}

/* Media query for even smaller screens (portrait phones) */
@media (max-width: 540px) {
    .events{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10px;
    }


}

@media screen and (width: 820px) {

    .events{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10px;
    }
}